<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.server.goods.dao.GoodsDao">
    <select id="selectAll" resultType="com.jr.server.goods.vo.VGoods">
        select * from tb_goods;
    </select>
    <select id="selectByGid" parameterType="int" resultType="com.jr.server.goods.vo.VGoods">
        select * from tb_goods where id=#{gid};
    </select>
    <insert id="addLog" parameterType="com.jr.server.goods.vo.GoodsBuyLog">
        insert into tb_goodsbuy_log (goodsid, status, ctime) values (#{goodsId}, #{status}, #{ctime});
    </insert>
</mapper>